  <!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static "ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#ffffff">

    <title>3DEMBenchmark</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "css/general_style.css" %}" type="text/css" />
    <link href="{% static "css/jumbotron.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% include "_navigation.html" %}

    <header>
      <div id="headerLine">
        <div class="container">
            <div class="row">
                <span class="headerLink">
                  <!-- <a href="particle-picking.html">Particle Picking</a>
                  <a href="ctf-detection.html">CTF detection</a>
                  <a href="resolution-enhancement.html">Resolution Enhancement</a> -->
                </span>
            </div>
        </div>
      </div>
    </header>

    <div id="wrapMain">
      <div class="container">
            <div class="row">
              <div class="col-md-4 center">
                <h3>
                  <a href="{% url 'particlepicking' %}" >
                    <img src="static/img/task1.jpg" class="taskImage">
                    Particle Picking (Demo)
                  </a>
                </h3>
                <p>
                  Automatic Particle Picking algorithms are crucial to achieve high resolution in which thousands of particle projections must be combined in 3D. Datasets under this task help to design algorithms with a low number of false positives (wrongly picked particles), a high yield (picking so many particles as possible in each micrograph), and as centered as possible.
                </p>
              </div>

              <div class="col-md-4 center">
                <h3>
                  <a href="{% url 'ctfdetection' %}" >
                    <img src="static/img/task2.png" class="taskImage">
                    CTF detection
                  </a>
                </h3>
                <p>
                  The Contrast Transfer Function is a way of modeling the microscope aberrations. This benchmark helps designing algorithms aimed at establishing the quality of micrographs and determine the defocus and other CTF parameters.
                </p>
              </div>

              <div class="col-md-4 center">
                <h3>
                  <a href="{% url 'resolutionenhancement' %}" >
                    <img src="static/img/task3.png" class="taskImage">
                    Resolution Enhancement
                  </a>
                </h3>
                <p>
                  The IEEE SP Cup is a competition that provides undergraduate students with the opportunity to form teams and work together to solve a challenging and interesting real-world problem using signal-processing techniques and methods. Three teams will be selected to present their work, and prizes will be awarded at ICASSP 2014. The title of this inaugural competition is "Image restoration/Super-resolution for Single Particle Analysis", proposed by the Bio Imaging and Signal Processing Technical Committee.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h2>About Us</h2>
              </div>
              <div class="col-md-8">
                <span class="title">
                  <p>
                    The 3D Electron Microscopy Benchmark is located at the Biocomputing Unit of the Spanish National Center for Biotechnology (CNB-CSIC) and it is part of a joint initiative of the National Institute of Bioinformatics (INB-Instituto de Salud Carlos III) and the INSTRUCT Center for Image Processing in Microscopy (I2PC).
                  </p>
                  <p>
                    INSTRUCT is a European project to provide infrastructures to Structural Biologists in order to determine the 3D structure of biological specimens. The INSTRUCT Image Processing Center is the European Reference Center for Image Processing in Transmission Electron Microscopy and X-ray Microscopy. It provides support to structural biologists in the use of the different software packages, it provides project support, and it develops software and standards oriented towards the standardization and simplification of the image processing tasks.
                  </p>
                  <p>
                    Being at the intersection of two strategic European Research Initiatives in Structural Biology and Bioinformatics, our goal is to help the advance of new image processing approaches by providing a powerful infrastructure for the automatic and standardized benchmarking of new image processing applications.
                  </p>
                  <p>
                    We want to work with all image processing software developers in the Structural Biology field, so that 3DEM Benchmark will indeed become a community effort. We start from the position that there is not a single methodology that suits all the problems, and, also, that there is no better way to learn than objectively studying the performance of new methods when confronted with realistic applications.
                  </p>  
              </div>
              <div class="col-md-4 center aboutDetails">
                  <div>
                    <b>Telephone:</b> (+34) 91 585 4922
                  </div>
                  <div>
                    <b>Fax:</b> (+34) 91 372 0112 / (+34) 91 585 4506
                  </div>
                  <div>
                    <b>email:</b> 3dembenchmark@cnb.csic.es
                  </div>
                  <div>
                    <b>
                    Postal address
                    </b>
                    <br>Unidad de Biocomputación
                    <br>Centro Nacional de Biotecnología
                    <br>c/ Darwin, 3 (Universidad Autónoma de Madrid)
                    <br>28049 Cantoblanco, Madrid (Spain)
                  </div>
              </div>
            </div>
          </div>
    </div>

    <footer id="footer" class="footerStyle">
      {% include "_footer.html" %}
    </footer>
    
    <script src="{% static "js/vendor/jquery-1.11.2.min.js" %}"></script>
    <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
  </body>
</html>
